<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  
	
	<table>
	
	<tr th:each="data : ${list}">
            <td><span th:text="${data.user_id}"> ID </span></td>
            <td><span th:text="${data.username}"> UserName </span></td>
             <td><span th:text="${data.email}"> Eamil </span></td>
           
        </tr>
	</table>
	
	<!-- <table>
	<tr th:each="data : ${list}">
	 <td><span th:text="${data.user_id}"> user_id </span></td>
     <td><span th:text="${data.username}"> username </span></td>
            <td><span th:text="${data.password}"> password </span></td>
            <td><span th:text="${data.enable}"> enable </span></td>
            <td><span th:text="${data.email}"> email </span></td>
            
</tr>
</table> -->
	
</body>
</html>